<div class="card">
    <h5 class="card-header">Post title</h5>
    <div class="card-body">
        <h5 class="card-title">topic</h5>
        <p class="card-text">text</p>
        <a href="#" class="btn btn-secondary">Add Comment</a>
    </div>
    <br>
    <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">User posted in<cite title="Source Title"> The 1 And Only, Tech Blog</cite></footer>
    </blockquote>
</div>